@import "colors";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  color: $blue;
}

ul {
  list-style: none;
}

h1 {
  color: $yellow;
  font-size: 1.25rem;
}

h2 {
  color: $blue;
  text-transform: uppercase;
  font-size: 0.975rem;
  text-align: center;
}

.button {
  padding: 5px;
  cursor: pointer;
  background-color: $blue;
  color: $white;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875em;
  border: none;

  &[disabled] {
    opacity: 0.3;
  }
}