@import "../style/colors";

.all-pokemons {
  width: 100%;
}

.pokemon-list {
  list-style: none;
  height: 400px;
  overflow: auto;
  margin-top: 10px;
}

.pokemon {
  padding: 5px;
  cursor: pointer;
  background-color: $blue;
  color: $yellow;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875em;

  & + & {
    margin-top: 5px;
  }
}