@import "../style/_colors.scss";

.available-moves-list {
  list-style-type: none;
  max-height: 400px;
  overflow: auto;
}

.available-move-item {
  cursor: pointer;
  padding: 2px 4px;
  margin-left: -2px;
}

.tabs {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 5px;
}

.tab-header {
  color: $yellow;
  padding: 3px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

  &.is-active {
    text-decoration: underline;
  }
}