.configurator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.panel {
    display: flex;
    flex-basis: 25%;
}

.panel.pokemon-selector {
    flex-basis: 20%;
}

.panel.pokemon-info {
    flex-basis: 15%;
    padding-left: 8px;
    flex-direction: column;
}

.panel.pokemon-stats {
    flex-basis: 36%;
}

.panel.pokemon-moves {
    padding-left: 10px;
    flex-basis: 29%;
}