@import "../style/colors";

.dream-team {
    margin-top: 20px;

    h1 {
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 5px;
    }
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.card {
    display: flex;
    flex-basis: calc((100%/6) - 10px);
    background-color: $grey;
    padding: 10px;
    height: 250px;
    flex-direction: column;
    text-align: center;

    &.empty {
        justify-content: center;
    }

    h2 {
        color: $white;
    }

    &.type-normal {
        background-color: $normalType;
    }

    &.type-fire {
        background-color: $fireType;
    }

    &.type-water {
        background-color: $waterType;
    }

    &.type-electric {
        background-color: $electricType;
    }

    &.type-grass {
        background-color: $grassType;
    }

    &.type-ice {
        background-color: $iceType;
    }

    &.type-fighting {
        background-color: $fightingType;
    }

    &.type-poison {
        background-color: $poisonType;
    }

    &.type-ground {
        background-color: $groundType;
    }

    &.type-flying {
        background-color: $flyingType;
    }

    &.type-psychic {
        background-color: $psychicType;
    }

    &.type-bug {
        background-color: $bugType;
    }

    &.type-rock {
        background-color: $rockType;
    }

    &.type-ghost {
        background-color: $ghostType;
    }

    &.type-dragon {
        background-color: $dragonType;
    }

    &.type-dark {
        background-color: $darkType;
    }

    &.type-steel {
        background-color: $steelType;
    }

    &.type-fairy {
        background-color: $fairyType;
    }
}

.card-image {
    width: 70%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.card-moves {
    margin-top: 8px;
}

.card-moves-item {
    padding: 6px;
    background-color: $white;
    font-weight: bold;
    border-radius: 4px;
    text-align: left;
    font-size: 0.8em;

    & + & {
        margin-top: 5px;
    }
}
