@import "../style/colors";

.pokemon-stats {
    display: block;
}

.stats-overview {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    list-style: none;
}

.stats-item{
    display: flex;
    padding: 4px;
    flex-basis: 50%;
    justify-content: flex-end;
    gap: 3px;
}

.stats-item-label {
    display: flex;
    color: $yellow;
    text-transform: uppercase;
    font-size: 0.875em;
    align-self: flex-end;
    margin-bottom: 4px;
}

.stats-item-value {
    display: flex;
    color: $blue;
    font-size: 2em;
    font-weight: bold;
    align-self: flex-end;
}