@import "../style/colors";

.selected-moves {
  margin-top: 25px;

  .moves {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  .move-item {
    padding: 5px;
    border: 1px $blue solid;
    display: flex;
    flex-basis: 49%;
    flex-direction: column;
    height: 50px;
    justify-content: flex-end;

    &.empty {
      opacity: 0.4;

      .move-item-value {
        text-align: center;
      }
    }
  }

  .move-item-label {
    text-transform: uppercase;
    font-size: 0.875em;
    color: $yellow;
  }

  .move-item-value {
    font-size: 1.255em;
  }
}

